<%-include("partials/header.ejs")%>
<%-include("partials/navbar.ejs")%>
<style>
    .logo
    {
		background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("images/full-stack-development.jpg");
		height: 100vh;
    
				
    }
</style>
<div class="logo">
    <h1 class="text-center text-success" style="padding-top: 15%;">Welcome To Mern Stack Courses</h1>
    <a href="/courses">
      <button type="submit" class="btn btn-primary mx-auto d-block mt-3 w-25" style="">Explore Courses</button>
    </a>
    
</div>
        
   

    
<%-include("partials/footer.ejs")%>
